@import url(https://fonts.googleapis.com/css?family=Roboto);
.ac_section [class*="ac_col-"].ac_highlight > .ac_control, .ac_section [class*="ac_col-"].ac_highlight > .ac_inline-control, .ac_control, .ac_inline-control, .ac_helper.ac_helper--column {
  background-color: #007FFF; }

.ac_inline-control {
  background-color: #007FFF !important; }

.ac_section [class*="ac_col-"]:active, .ac_section [class*="ac_col-"]:hover, .ac_section [class*="ac_col-"].ac_highlight, .ac_col-sorting [class*="ac_col-"], .ac_guides .ac_section [class*="ac_col-"] {
  border-color: #007FFF; }

.ac_element > .ac_control, .ac_element > .ac_inline-control, .ac_element.ac_highlight > .ac_control, .ac_element.ac_highlight > .ac_inline-control, .ac_helper.ac_helper--element {
  background-color: #64C469; }

.ac_element:hover, .ac_element.ac_highlight {
  border-color: #64C469; }

.ac_section > .ac_control, .ac_section > .ac_inline-control, .ac_section.ac_highlight > .ac_control, .ac_section.ac_highlight > .ac_inline-control, .ac_control li ul, .ac_inline-control li ul, .ac_helper.ac_helper--section {
  background-color: #FF7F00; }

.ac_section.ac_highlight:after, .ac_section.ac_highlight + .ac_section:after {
  border-color: #FF7F00; }

.ac_section:active:after, .ac_section:hover:after, .ac_section:active + .ac_section:after, .ac_section:hover + .ac_section:after, .ac_section:last-child:hover:after, .ac_guides .ac_section:after {
  border-color: #FF7F00 !important; }

[class*="acicon-col-"] {
  display: inline-block;
  width: 33px;
  height: 22px;
  background-repeat: no-repeat;
  background-image: url("../images/icon/icon-sprite.png"); }

.acicon-col-1 {
  background-position: 0px 0; }

.acicon-col-2 {
  background-position: -33px 0; }

.acicon-col-3 {
  background-position: -66px 0; }

.acicon-col-4 {
  background-position: -99px 0; }

.acicon-col-5 {
  background-position: -132px 0; }

.acicon-col-6 {
  background-position: -165px 0; }

.acicon-col-7 {
  background-position: -198px 0; }

.acicon-col-8 {
  background-position: -231px 0; }

.acicon-col-9 {
  background-position: -264px 0; }

.acicon-col-10 {
  background-position: -297px 0; }

body {
  margin: 0; }

.ac_creating {
  padding-bottom: 100px; }
  .ac_creating .ac_section,
  .ac_creating [class*="ac_col-"],
  .ac_creating .ac_elements-wrapper {
    min-height: 50px; }

.ac_section {
  position: relative;
  z-index: 9; }
  .ac_section > .ac_control, .ac_section > .ac_inline-control {
    display: none; }
  .ac_section:active {
    z-index: 999999999 !important; }
  .ac_section:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    border-top: 1px dashed transparent; }
  .ac_section:hover {
    z-index: 999; }
  .ac_section:active > .ac_control, .ac_section:active > .ac_inline-control, .ac_section:hover > .ac_control, .ac_section:hover > .ac_inline-control {
    display: block; }
  .ac_section:active .ac_control.ac_control-bottom, .ac_section:active .ac_control-bottom.ac_inline-control, .ac_section:hover .ac_control.ac_control-bottom, .ac_section:hover .ac_control-bottom.ac_inline-control {
    display: block !important; }
  .ac_section:active:after, .ac_section:hover:after {
    border-top: 1px solid; }
  .ac_section:active + .ac_section:after, .ac_section:hover + .ac_section:after {
    border-top: 1px solid; }
  .ac_section:last-child:after {
    border-bottom: 1px dashed transparent; }
  .ac_section:last-child:hover:after {
    border-bottom: 1px solid; }
  .ac_section.ac_highlight {
    z-index: 99; }
    .ac_section.ac_highlight:after {
      border-top: 1px solid; }
    .ac_section.ac_highlight + .ac_section:after {
      border-top: 1px solid; }
    .ac_section.ac_highlight > .ac_control, .ac_section.ac_highlight > .ac_inline-control {
      visibility: visible;
      display: block; }
      .ac_section.ac_highlight > .ac_control.ac_control-bottom, .ac_section.ac_highlight > .ac_control-bottom.ac_inline-control {
        display: none; }
  .ac_section [class*="ac_col-"] {
    border: 1px dashed transparent; }
    .ac_section [class*="ac_col-"] .ac_control, .ac_section [class*="ac_col-"] .ac_inline-control {
      display: none; }
    .ac_section [class*="ac_col-"]:active, .ac_section [class*="ac_col-"]:hover {
      border-style: solid; }
      .ac_section [class*="ac_col-"]:active > .ac_control, .ac_section [class*="ac_col-"]:active > .ac_inline-control, .ac_section [class*="ac_col-"]:hover > .ac_control, .ac_section [class*="ac_col-"]:hover > .ac_inline-control {
        display: block; }
    .ac_section [class*="ac_col-"].ac_highlight {
      border-style: solid; }
      .ac_section [class*="ac_col-"].ac_highlight > .ac_control, .ac_section [class*="ac_col-"].ac_highlight > .ac_inline-control {
        visibility: visible;
        display: block; }
  .ac_section > .ac_control, .ac_section > .ac_inline-control {
    left: 15px; }
    @media (max-width: 1240px) {
      .ac_section > .ac_control, .ac_section > .ac_inline-control {
        left: 1px; } }

.ac_col-sorting .ac_row {
  min-height: 50px;
  border: 1px dashed #ccc; }

.ac_disable-control .ac_section {
  z-index: 99; }
  .ac_disable-control .ac_section:after,
  .ac_disable-control .ac_section .ac_control,
  .ac_disable-control .ac_section .ac_inline-control {
    display: none !important; }
  .ac_disable-control .ac_section:active .ac_control-bottom, .ac_disable-control .ac_section:hover .ac_control-bottom {
    display: none !important; }

.ac_disable-control [class*="ac_col-"],
.ac_disable-control .ac_element {
  border: none !important; }

.ac_element {
  position: relative;
  border: 1px solid transparent;
  transition: all .3s ease; }
  .ac_element > .ac_control, .ac_element > .ac_inline-control {
    visibility: hidden; }
  .ac_element:hover {
    z-index: 9999; }
    .ac_element:hover > .ac_control, .ac_element:hover > .ac_inline-control {
      display: block;
      visibility: visible; }
  .ac_element.ac_highlight > .ac_control, .ac_element.ac_highlight > .ac_inline-control {
    visibility: visible;
    display: block; }

.ac_placeholder {
  position: relative;
  min-height: 50px;
  background-repeat: repeat;
  background-image: url("data:image/gif;base64,R0lGODlhBAAEAIABANTU1P///yH5BAEAAAEALAAAAAAEAAQAAAIFjHEZaAUAOw=="); }

.ac_row .ac_placeholder {
  float: left; }

.ac_row .ac_elements-wrapper > .ac_placeholder {
  float: none; }

.ac_control, .ac_inline-control {
  position: absolute;
  top: -26px;
  left: -1px;
  display: inline-block;
  color: #fff;
  border-radius: 2px 2px 0 0;
  white-space: nowrap;
  z-index: 99;
  font-style: normal !important;
  text-decoration: none !important;
  font-weight: 400 !important;
  text-shadow: none !important;
  box-shadow: none !important;
  letter-spacing: 0 !important;
  line-height: 0 !important; }
  .ac_control:hover, .ac_inline-control:hover {
    z-index: 999; }
  .ac_control.ac_control-bottom, .ac_control-bottom.ac_inline-control {
    top: auto;
    bottom: 0;
    left: 0 !important;
    height: 0;
    width: 100%;
    border-radius: 2px;
    z-index: 9999;
    background-color: #707981 !important;
    display: none;
    transition: all .2s ease; }
    .ac_control.ac_control-bottom:hover, .ac_control-bottom.ac_inline-control:hover {
      border-radius: 2px 2px 0 0;
      display: block;
      height: 10px;
      bottom: -5px; }
    .ac_control.ac_control-bottom > ul, .ac_control-bottom.ac_inline-control > ul {
      position: absolute;
      display: inline-block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #FF7F00; }
      .ac_control.ac_control-bottom > ul > li, .ac_control-bottom.ac_inline-control > ul > li {
        width: 50px; }
    .ac_control.ac_control-bottom li, .ac_control-bottom.ac_inline-control li {
      float: left; }
  .ac_control ul, .ac_inline-control ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0; }
    .ac_control ul:after, .ac_inline-control ul:after {
      content: '';
      display: table;
      clear: both; }
  .ac_control li, .ac_inline-control li {
    position: relative;
    display: inline-block;
    cursor: pointer;
    min-width: 26px;
    vertical-align: top;
    height: 26px;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif; }
    .ac_control li.ac_disable, .ac_inline-control li.ac_disable {
      opacity: .3 !important;
      position: relative;
      z-index: 9 !important; }
      .ac_control li.ac_disable *, .ac_inline-control li.ac_disable * {
        pointer-events: none !important;
        user-select: none !important; }
      .ac_control li.ac_disable:after, .ac_inline-control li.ac_disable:after {
        content: '' !important;
        position: absolute !important;
        width: 100% !important;
        height: 100% !important;
        top: 0 !important;
        left: 0 !important;
        z-index: 9 !important; }
    .ac_control li ul, .ac_inline-control li ul {
      position: absolute;
      top: 100%;
      left: 50%;
      width: 142px;
      margin-left: -71px !important;
      text-align: center;
      z-index: 9;
      display: none; }
      .ac_control li ul:after, .ac_inline-control li ul:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.1);
        z-index: -1; }
      .ac_control li ul li, .ac_inline-control li ul li {
        width: 25%;
        float: left; }
        .ac_control li ul li:hover, .ac_inline-control li ul li:hover {
          background-color: #292A2D; }
    .ac_control li:hover, .ac_inline-control li:hover {
      background-color: rgba(0, 0, 0, 0.1); }
      .ac_control li:hover > ul, .ac_inline-control li:hover > ul {
        display: block; }
  .ac_control .ac_control__split, .ac_inline-control .ac_control__split,
  .ac_control .ac_control__column, .ac_inline-control .ac_control__column {
    font-size: 17px;
    line-height: 27px; }

.ac_control__move {
  cursor: move !important;
  padding: 0 8px;
  max-width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 24px !important; }
  .ac_control__move .acicon {
    margin-right: 5px;
    font-size: 12px; }
  .ac_control__move span {
    font-size: 13px; }

.ac_section [class*="ac_col-"]:hover .ac_inline-control {
  display: none; }

.ac_element:hover > .ac_inline-control {
  visibility: hidden; }

.ac_inline-control {
  border-radius: 2px;
  top: 0;
  left: 100%;
  margin-left: -12px; }
  .ac_inline-control i {
    display: inline-block; }
  .ac_inline-control li {
    display: none; }
    .ac_inline-control li:first-child {
      display: inline-block; }
  .ac_inline-control ul:hover li {
    display: inline-block; }

.ac_masonry .grid-item:hover .ac_inline-control,
.ac-accordion__header:hover .ac_inline-control,
.ac-tab__nav li:hover .ac_inline-control {
  visibility: visible !important;
  display: block !important; }

.ac_helper {
  width: 280px !important;
  height: 60px !important;
  line-height: 60px !important;
  padding: 0 15px !important;
  color: #fff !important;
  font-size: 18px !important;
  text-align: center !important;
  z-index: 2147483647 !important;
  cursor: move !important;
  box-sizing: border-box; }
  .ac_helper .text-title {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; }
  .ac_helper.ac_helper--section {
    border: 1px solid #E87400; }
  .ac_helper.ac_helper--column {
    border: 1px solid #006BD7; }
  .ac_helper.ac_helper--element {
    border: 1px solid #45B64A; }

[class*="acicon-elm-"] {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-image: url("../images/icon/element-icons.png"); }

.acicon-elm-text {
  background-position: 0 0; }

.acicon-elm-header {
  background-position: -32px 0; }

.acicon-elm-message {
  background-position: -64px 0; }

.acicon-elm-divider {
  background-position: -96px 0; }

.acicon-elm-dropcaps {
  background-position: -128px 0; }

.acicon-elm-table {
  background-position: -160px 0; }

.acicon-elm-image {
  background-position: -192px 0; }

.acicon-elm-imagegallery {
  background-position: -224px 0; }

.acicon-elm-icon {
  background-position: -256px 0; }

.acicon-elm-html {
  background-position: -288px 0; }

.acicon-elm-button {
  background-position: 0 -32px; }

.acicon-elm-iframe {
  background-position: -32px -32px; }

.acicon-elm-justified {
  background-position: -64px -32px; }

.acicon-elm-list {
  background-position: -96px -32px; }

.acicon-elm-nested {
  background-position: 0 -64px; }

.acicon-elm-accordions {
  background-position: -32px -64px; }

.acicon-elm-tabs {
  background-position: -64px -64px; }

.acicon-elm-drupal {
  background-position: 0 -96px; }

.acicon-elm-wordpress {
  background-position: -32px -96px; }

.acicon-elm-gmap {
  background-position: -64px -96px; }

.acicon-elm-instagram {
  background-position: -96px -96px; }

.acicon-elm-video {
  background-position: -128px -96px; }

.acicon-elm-pinterest {
  background-position: -160px -96px; }

.acicon-elm-flickr {
  background-position: -192px -96px; }

.acicon-elm-twitter {
  background-position: -224px -96px; }

.acicon-elm-facebook {
  background-position: -256px -96px; }

.acicon-elm-gplus {
  background-position: -288px -96px; }

.ac_search {
  position: relative; }
  .ac_search form {
    position: relative; }
  .ac_search input[type="text"],
  .ac_search input[type="search"] {
    width: 100%;
    padding: 0 30px; }
  .ac_search .ac_search-remove,
  .ac_search .acicon-search {
    position: absolute;
    left: 8px;
    top: 50%;
    color: #7C7E80;
    transform: translate(0, -50%); }
  .ac_search .ac_search-remove {
    left: auto;
    right: 6px;
    font-size: 20px; }
    .ac_search .ac_search-remove:hover {
      color: #fff; }

.ac_element-item-wrapper.ui-draggable-dragging {
  width: 120px !important;
  z-index: 999999;
  padding: 0; }
  .ac_element-item-wrapper.ui-draggable-dragging.ui-draggable-dragging > .ac_element-item {
    background-color: #222;
    cursor: move; }

.ac_element-item {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 60px;
  border: 1px solid #16181A;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 300ms; }
  .ac_element-item:hover {
    background-color: #222;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); }
    .ac_element-item:hover .ac_element-item-inner span {
      color: #fff; }
    .ac_element-item:hover .ac_element-item-inner .acicon {
      color: #ccc; }

.ac_element-item-inner {
  display: table-cell;
  vertical-align: middle;
  padding: 7px 10px 3px 45px;
  position: relative; }
  .ac_element-item-inner i {
    font-size: 18px;
    color: #6D7174;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%); }
  .ac_element-item-inner img {
    width: 32px;
    height: auto;
    position: absolute;
    left: 6px;
    top: 14px; }
  .ac_element-item-inner span {
    display: block;
    color: #9ea3a5;
    font-size: 14px;
    line-height: 1.1em; }

.ac-accordion .ac-accordion__add-btn a {
  display: block;
  padding: 18px 15px;
  border: 1px solid #eee;
  background-color: #fff;
  color: #000;
  font-size: 14px;
  line-height: normal; }

.ac-accordion .ac-accordion__add-btn.active a {
  background-color: #eee; }

.ac-accordion .ac-accordion__add-btn:hover a {
  background-color: #f7f7f7; }

/* ##### menu item ####### */
body.ac_bg-menu {
  background: url(../images/bg_body_menu.jpg) no-repeat center center;
  background-size: cover;
  font-size: 14px;
  background-attachment: fixed; }

.ac_menu-item {
  position: relative; }
  .ac_menu-item > .ac_control, .ac_menu-item > .ac_inline-control {
    display: none; }
  .ac_menu-item:active > .ac_control, .ac_menu-item:active > .ac_inline-control, .ac_menu-item:hover > .ac_control, .ac_menu-item:hover > .ac_inline-control, .ac_menu-item.ac_highlight > .ac_control, .ac_menu-item.ac_highlight > .ac_inline-control {
    display: block; }

.awemenu-box-action {
  margin-bottom: 30px;
  margin-top: 20px; }
  .awemenu-box-action .ac-btn-action {
    margin: 0;
    padding: 0 22px;
    margin-left: 18px;
    background: #0e83ff;
    color: #fff !important;
    display: inline-block;
    vertical-align: middle;
    line-height: 35px;
    font-size: 13px;
    text-decoration: none; }
    .awemenu-box-action .ac-btn-action:hover {
      background: #292A2D; }

.medium-editor-toolbar {
  z-index: 999999; }
